.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Makes the image circular */
  margin-left: 16px; /* Add some space between the profile image and nav links */
}

.profile-item {
  display: flex;
  align-items: center; /* Align profile image vertically */
}
